<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive - Max-Width</title>
    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/responsive-2-sp.css">
</head>
<body>
    <section id="product">
        <div class="container">
            <h2>SẢN PHẨM NỔI BẬT</h2>
            <div class="row">
                <div class="col">
                    <div class="item">
                        <div class="img">
                            <img src="../images/san-pham-noi-bat/sp-1.jpg" alt="SP-1">
                        </div>
                        <div class="content">
                            <h4><a href="#">Giường ngủ</a></h4>
                            <p>9.999.999 vnđ</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="item">
                        <div class="img">
                            <img src="../images/san-pham-noi-bat/sp-1.jpg" alt="SP-1">
                        </div>
                        <div class="content">
                            <h4><a href="#">Giường ngủ</a></h4>
                            <p>9.999.999 vnđ</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="item">
                        <div class="img">
                            <img src="../images/san-pham-noi-bat/sp-1.jpg" alt="SP-1">
                        </div>
                        <div class="content">
                            <h4><a href="#">Giường ngủ</a></h4>
                            <p>9.999.999 vnđ</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="item">
                        <div class="img">
                            <img src="../images/san-pham-noi-bat/sp-1.jpg" alt="SP-1">
                        </div>
                        <div class="content">
                            <h4><a href="#">Giường ngủ</a></h4>
                            <p>9.999.999 vnđ</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="item">
                        <div class="img">
                            <img src="../images/san-pham-noi-bat/sp-1.jpg" alt="SP-1">
                        </div>
                        <div class="content">
                            <h4><a href="#">Giường ngủ</a></h4>
                            <p>9.999.999 vnđ</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="item">
                        <div class="img">
                            <img src="../images/san-pham-noi-bat/sp-1.jpg" alt="SP-1">
                        </div>
                        <div class="content">
                            <h4><a href="#">Giường ngủ</a></h4>
                            <p>9.999.999 vnđ</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>