<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh mục sản phẩm</title>
    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/san-pham.css">

</head>
<body>
    <section id="product">
        <div class="container">
            <div class="row product-box">
                <div class="head">
                    <h2>PHÒNG KHÁCH</h2>
                    <a href="#">XEM TẤT CẢ</a>
                </div>
                <div class="col">
                    <div class="item">
                        <div class="img">
                            <img src="../images/san-pham/phong-ngu-1.png" alt="phong-ngu">
                        </div>
                        <div class="content">
                            <h3><a href="">BÀN UỐNG NƯỚC</a></h3>
                            <p>(size vừa, nâu, đậm)</p>
                            <p>8.999.999 VNĐ</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="item">
                        <div class="img">
                            <img src="../images/san-pham/phong-ngu-1.png" alt="phong-ngu">
                        </div>
                        <div class="content">
                            <h3><a href="">BÀN UỐNG NƯỚC</a></h3>
                            <p>(size vừa, nâu, đậm)</p>
                            <p>8.999.999 VNĐ</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="item">
                        <div class="img">
                            <img src="../images/san-pham/phong-ngu-1.png" alt="phong-ngu">
                        </div>
                        <div class="content">
                            <h3><a href="">BÀN UỐNG NƯỚC</a></h3>
                            <p>(size vừa, nâu, đậm)</p>
                            <p>8.999.999 VNĐ</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="item">
                        <div class="img">
                            <img src="../images/san-pham/phong-ngu-1.png" alt="phong-ngu">
                        </div>
                        <div class="content">
                            <h3><a href="">BÀN UỐNG NƯỚC</a></h3>
                            <p>(size vừa, nâu, đậm)</p>
                            <p>8.999.999 VNĐ</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row product-box">
                <div class="head">
                    <h2>PHÒNG KHÁCH</h2>
                    <a href="#">XEM TẤT CẢ</a>
                </div>
                <div class="col">
                    <div class="item">
                        <div class="img">
                            <img src="../images/san-pham/phong-ngu-1.png" alt="phong-ngu">
                        </div>
                        <div class="content">
                            <h3><a href="">BÀN UỐNG NƯỚC</a></h3>
                            <p>(size vừa, nâu, đậm)</p>
                            <p>8.999.999 VNĐ</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="item">
                        <div class="img">
                            <img src="../images/san-pham/phong-ngu-1.png" alt="phong-ngu">
                        </div>
                        <div class="content">
                            <h3><a href="">BÀN UỐNG NƯỚC</a></h3>
                            <p>(size vừa, nâu, đậm)</p>
                            <p>8.999.999 VNĐ</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="item">
                        <div class="img">
                            <img src="../images/san-pham/phong-ngu-1.png" alt="phong-ngu">
                        </div>
                        <div class="content">
                            <h3><a href="">BÀN UỐNG NƯỚC</a></h3>
                            <p>(size vừa, nâu, đậm)</p>
                            <p>8.999.999 VNĐ</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="item">
                        <div class="img">
                            <img src="../images/san-pham/phong-ngu-1.png" alt="phong-ngu">
                        </div>
                        <div class="content">
                            <h3><a href="">BÀN UỐNG NƯỚC</a></h3>
                            <p>(size vừa, nâu, đậm)</p>
                            <p>8.999.999 VNĐ</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row product-box">
                <div class="head">
                    <h2>PHÒNG KHÁCH</h2>
                    <a href="#">XEM TẤT CẢ</a>
                </div>
                <div class="col">
                    <div class="item">
                        <div class="img">
                            <img src="../images/san-pham/phong-ngu-1.png" alt="phong-ngu">
                        </div>
                        <div class="content">
                            <h3><a href="">BÀN UỐNG NƯỚC</a></h3>
                            <p>(size vừa, nâu, đậm)</p>
                            <p>8.999.999 VNĐ</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="item">
                        <div class="img">
                            <img src="../images/san-pham/phong-ngu-1.png" alt="phong-ngu">
                        </div>
                        <div class="content">
                            <h3><a href="">BÀN UỐNG NƯỚC</a></h3>
                            <p>(size vừa, nâu, đậm)</p>
                            <p>8.999.999 VNĐ</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="item">
                        <div class="img">
                            <img src="../images/san-pham/phong-ngu-1.png" alt="phong-ngu">
                        </div>
                        <div class="content">
                            <h3><a href="">BÀN UỐNG NƯỚC</a></h3>
                            <p>(size vừa, nâu, đậm)</p>
                            <p>8.999.999 VNĐ</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="item">
                        <div class="img">
                            <img src="../images/san-pham/phong-ngu-1.png" alt="phong-ngu">
                        </div>
                        <div class="content">
                            <h3><a href="">BÀN UỐNG NƯỚC</a></h3>
                            <p>(size vừa, nâu, đậm)</p>
                            <p>8.999.999 VNĐ</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row product-box">
                <div class="head">
                    <h2>PHÒNG KHÁCH</h2>
                    <a href="#">XEM TẤT CẢ</a>
                </div>
                <div class="col">
                    <div class="item">
                        <div class="img">
                            <img src="../images/san-pham/phong-ngu-1.png" alt="phong-ngu">
                        </div>
                        <div class="content">
                            <h3><a href="">BÀN UỐNG NƯỚC</a></h3>
                            <p>(size vừa, nâu, đậm)</p>
                            <p>8.999.999 VNĐ</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="item">
                        <div class="img">
                            <img src="../images/san-pham/phong-ngu-1.png" alt="phong-ngu">
                        </div>
                        <div class="content">
                            <h3><a href="">BÀN UỐNG NƯỚC</a></h3>
                            <p>(size vừa, nâu, đậm)</p>
                            <p>8.999.999 VNĐ</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="item">
                        <div class="img">
                            <img src="../images/san-pham/phong-ngu-1.png" alt="phong-ngu">
                        </div>
                        <div class="content">
                            <h3><a href="">BÀN UỐNG NƯỚC</a></h3>
                            <p>(size vừa, nâu, đậm)</p>
                            <p>8.999.999 VNĐ</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="item">
                        <div class="img">
                            <img src="../images/san-pham/phong-ngu-1.png" alt="phong-ngu">
                        </div>
                        <div class="content">
                            <h3><a href="">BÀN UỐNG NƯỚC</a></h3>
                            <p>(size vừa, nâu, đậm)</p>
                            <p>8.999.999 VNĐ</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>