/* // `xs` returns only a ruleset and no media query */
/* //  {  } */
body{
    background-color: #ccc;
}
.container{
    margin: 1rem auto;
    width: 1520px;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.col{
    width: 20%;
}
#product .item {
    border: 1px solid #ccc;
    border-radius: .5rem;
    margin: .5rem 0;
    padding: .5rem;
}
#product .item .img > img{
    width: 100%;
    border-radius: .5rem;
}



/* // `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
    body{
        background-color: green;
    }
    .container{
        margin: 1rem auto;
        width: 1320px;
    }
   
}

/* // `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 
    body{
        background-color: orange;
    }
    .container{
        margin: 1rem auto;
        width: 1140px;
    }
    .col{
        width: 25%;
    }
 }
/* // `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
    body{
        background-color: yellow;
    }
    .col{
        width: 33.333334%;
    }
 }

/* // `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
    body{
        background-color: blue;
    }
 }


/* // `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {  
    body{
        background-color: red;
    }
    .container{
        margin: 1.5rem;
    }
    .col{
        width: 100%;
    }
    #product .item {
        margin: 1.5rem;
        padding: 1.5rem;
    }
}


